@media(min-width: 48rem) and (max-width: 89.9375rem) {
    body {
        padding-bottom: 2.5rem;
    }

    .container {
        width: 48rem;
    }

    .but {
        left: 73%;
        top: 6%;
    }

    .logo {
        left: 20%;
        top: 6%;
        transform: translateX(0);
    }

    .info {
        width: 31.4375rem;
        top: 29%;
    }

    .title {
        font-size: 3.25rem;
        margin-bottom: 2.5rem;
    }

    .Two {
        font-size: 1.5rem;
        margin-bottom: 2.125rem;
    }

    .clickInfo {
        width: 14.125rem;
        margin-left: 8rem;
    }

    .content {
        width: 59, 635416666%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 2.5rem;
    }

    .partner {
        width: 12.125rem;
    }

    .backgr {
        margin-bottom: 4.5rem;
        padding: 21.875rem 0 21.875rem 0;
    }

    .title2 {
        margin-bottom: 2rem;
    }

    .partner {
        margin-bottom: 3.625rem;
    }

    .partner:nth-child(even) {
        margin-bottom: 0;
    }

    .nameorder {
        order: 1;
    }

    .nameorder2 {
        order: 1;
    }

    .clickpartners {
        width: 12rem;
        margin-left: 18rem;
    }
}